
{% extends "::base.html.twig" %}
{% block title %}
    symfony2 Учебник | Войти
{% endblock %}
 
{% block body %}
    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}
    <form id="login" action="{{ path('_security_check') }}" method="POST" class="log">
        <h1>Форма входа</h1>
        <fieldset id="inputs">
            <input id="username" type="text" placeholder="Логин" autofocus  name="_username" value="{{ last_username }}">
            <input id="password" type="password" placeholder="Пароль"  name="_password">
        </fieldset>
        <fieldset id="actions">
            <input type="submit" name="login" id="submit" value="ВОЙТИ">
            <a href="{{ path('registration') }}">Регистрация</a>
        </fieldset>
    </form>
{% endblock %}