<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets filter='cssrewrite' output='css/*.css'
        'bundles/applicstorage/css/*'
        'bundles/applicstorage/images/*'%}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
       
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
    <div id="menu">
        <ul class="nav">
            <li><a href="{{path('admin_home')}}"><span>Документы</span></a></li>
            <li><a href="{{path('registration')}}"><span>Регистрация</span></a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('_security_logout') }}"> <span>Выход ({{ app.user.username }})</span></a></li>
            {% else %}
                <li><a href="{{ path('_security_login') }}"><span>Авторизация</span></a></li>
            {% endif %}

        </ul>
    </div>
        {% block body %}{% endblock %}
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
        {% block javascripts %}
            {% javascripts 'bundles/applicstorage/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    
</html>
