{% extends "::base.html.twig" %}
{% block body %}
    {% if mess is defined %}
        {{ mess }}
        {% endif %}
    <form id="myform" class="regForm" action="{{ path('registration') }}" method="POST" name="registration">
        <h1>Регистрация</h1>
        <fieldset id="inputs">
            <input id="username" type="text" placeholder="Имя" autofocus name="userName">
            <input id="nlogin" type="text" placeholder="Логин"  name="login">
            <input id="password" type="password" placeholder="Пароль"  name="pass">
            <input id="passwor" type="password" placeholder="Пароль еще раз"  name="repass">
        </fieldset>
        <fieldset id="actions">
            <input type="submit" name="getReg"  class="submitForm" value="ЗАРЕГИСТРИРОВАТЬСЯ">
        </fieldset>
    </form>
{% endblock %}