{% extends "::base.html.twig" %}
{% block body %}
    <div class="search">
            <input type="text" name="searchVal" class="searchVal">
        <button class="button button--winona button--border-thin button--text-thick button--inverted" onclick="search($('.searchVal').val());" data-text="Искать"><span>Искать</span></button>
    </div>
    <div class="titleTable">
        <h1>Документы</h1>
    </div>
    <div class="searchResults">
        <span class="searchResults__Header">Результаты поиска по запросу: <span class="res"></span></span><br>
        <a href="{{path('admin_home')}}" class="">Вывести весь список</a>
    </div>
    <table class="bordered">
        <thead>
        <tr>
            <th>
                <div class="wrapp" onclick="sort('title');">
                    <span>Название</span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </div>
            </th>
            <th>
                 <div class="wrapp" onclick="sort('date');">
                    <span>Дата</span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </div>
            </th>
            <th>Автор</th>
            <th>Файл</th>
        </tr>
        </thead>
        <tbody>
        {% if docs is not empty %}
        {% for doc in docs %}
            <tr>
                <td>{{ doc.title }}</td>
                <td> {{ doc.date|date('Y-m-d H:i:s') }} </td>
                <td>{{ doc.author }}</td>
                <td><a href="{{path('dwload', {'filename':doc.path})}}"><i class="fa fa-download" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
        {% else %}
            <span>У Вас нет документов</span>
            {% endif %}

        </tbody>

    </table>

    <div class='addDocum'>
    {{ form_start(form, {'action': path('admin_home'), 'method': 'POST', 'attr': {'class': 'addDocum__form'}}) }}
    {{ form_row(form.title, { 'attr': {'class': 'addDocum__title'} }) }}
    {{ form_row(form.file, { 'attr': {'class': 'addDocum__file'} }) }}
    {{ form_end(form, { 'attr': {'class': 'addDocum__submit'} }) }}
    </div>
{% endblock %}