{% block tblock %}
    {% if docs is not empty %}
        {% for doc in docs %}
            <tr>
                <td>{{ doc.title }}</td>
                <td> {{ doc.date|date('Y-m-d H:i:s') }} </td>
                <td>{{ doc.author }}</td>
                <td><a href="{{path('dwload', {'filename' : doc.path})}}"><i class="fa fa-download" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
    {% else %}
        <span>Документы не найдены</span>
    {% endif %}
{% endblock %}